<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Application Confirmation</title>
</head>
<body>
<p>Dear {{applicant_name}},</p>

<p>Thank you for applying for the {{job_title}} position at {{company_name}}. We have received your application and
  resume.</p>

<p>We appreciate your interest in our company and the time you’ve invested in applying. We wanted to let you know that
  we received your application and it is currently under review by our recruitment team.</p>

<p>If your qualifications meet our needs, we will reach out to you directly to schedule an interview. Due to the volume
  of applications we receive, we are unable to respond to each candidate individually. If you do not hear from us,
  please consider your application unsuccessful this time.</p>

<p>Thank you again for your interest in {{company_name}}. We wish you all the best in your job search.</p>

<p>Best Regards,</p>
<p>Recruitment Team</p>
<p>{{company_name}}</p>
</body>
</html>
