<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }

    .header {
      background-color: #4CAF50;
      color: white;
      padding: 20px;
    }

    .content {
      padding: 20px;
    }

    .footer {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
    }

    .button {
      background-color: blue;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Welcome to {{organizationName}}</h1>
  </div>
  <div class="content">
    <p>Dear {{firstname}},</p>
    <p>We are thrilled to welcome you to {{organizationName}}. We are excited to have you on board and look forward to
      working with you.</p>
    <p>As a new employee, you will have access to our online platform where you can find important information and
      resources. To log in, please use the following credentials:</p>
    <ul>
      <li>Email: {{email}}</li>
      <li>Password:</li>
      <li style="font-weight: bold;"> {{password}}</li>
    </ul>
    <p>For security reasons, we recommend that you change your password after logging in for the first time.</p>
    <p>If you have any questions or need assistance, please do not hesitate to contact us. We are here to support you
      and help you succeed in your new role.</p>
    <button class="button" onclick="window.open('https://kris-1d979.web.app/#/auth', '_blank')">Log In!</button>
    <p>Once again, welcome to {{organizationName}}. We are delighted to have you on our team!</p>
    <p>Sincerely,</p>
    <p>The [Your Organization] Team</p>
  </div>
  <div class="footer">

    <p style="text-align:center;font-size:12px;font-family:arial,sans-serif;color:#ffffff">
      Sent to you by
      <a href="javascript:void(0);" style="color:#ffffff" target="_blank">kris.io</a>
      <br>
      <a href="javascript:void(0);" style="color:#ffffff" target="_blank">Privacy Policy</a> |
      <a href="javascript:void(0);" style="color:#ffffff" target="_blank">FAQs</a> |
      <a href="javascript:void(0);" style="color:#ffffff" target="_blank">support@kris.io</a>
    </p>
    <br>
    <div style="text-align:center;">
      <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
        <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Facebook_h7mtr1.png"
             alt="Facebook" width="35">
      </a>
      <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
        <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Linkedin_eb8qkh.png"
             alt="Linkedin" width="35">
      </a>
      <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
        <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Instagram_lcbyme.png"
             alt="Instagram" width="35">
      </a>
      <a href="javascript:void(0);" style="text-decoration: none" target="_blank">
        <img src=https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Twitter_pyepek.png"
             alt="Twitter" width="35">
      </a>
    </div>
  </div>
</div>

</body>

</html>

